/* #idname -> calling styles via ID
   .classname ->calling styles via class */

body{
    background-image: url(https://i.pinimg.com/originals/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg);
}

.container{
    border: 20px;
    margin-left: 500px;    
}

h1{
    color: cornsilk;
    text-shadow: 2px 2px 5px white;
}

h2{
    color: coral;
}

#foo{
    color: blueviolet;
}
.borderImg{
    border: 20px;
    margin-top: 150px;
    margin-left: 240px;
}

ul li{
    color: white;
}
